<div class="">
  <div class="op">
    <input type="number" [(ngModel)]="add1"> +
    <input type="number" [(ngModel)]="add2"> =
    <span>{{ add1 + add2 }}</span>
  </div>

  <div class="op">
    <input type="number" [(ngModel)]="sous1"> -
    <input type="number" [(ngModel)]="sous2"> =
    <span>{{ sous1 - sous2 }}</span>
  </div>

  <div class="op">
    <input type="number" [(ngModel)]="prod1"> *
    <input type="number" [(ngModel)]="prod2"> =
    <span>{{ prod1 * prod2 }}</span>
  </div>

  <div class="op">
    <input type="number" [(ngModel)]="mod1"> %
    <input type="number" [(ngModel)]="mod2"> =
    <span>{{ mod1 % mod2 }}</span>
  </div>

  <div class="op">
    <input type="number" [(ngModel)]="add1"> +
    <input type="number" [(ngModel)]="add2"> =
    <span>{{ add1 + add2 }}</span>
  </div>

</div>
