<div class="products">
  <input type="text" [(ngModel)]="search.price" />
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Prix</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | filter:search:search.price">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>
          <app-product-price [symbol]="'$'" [price]="product.price">
          </app-product-price>
        </td>
        <td>
          <a routerLink="/products/{{product.id}}">Afficher</a>
          <button (click)="delete(product)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
