<div class="todo">
  <div class="inputs">
    <input type="text" [(ngModel)]="name" placeholder="Nom de la tache">
    <input type="number" [(ngModel)]="qty" placeholder="Qte">
    <button type="button" (click)="add()" >Ajouter</button>
    <button type="button" (click)="clear()">Clear</button>
  </div>
  <ul>
    <li *ngFor="let todo of todos">
      <input type="checkbox" [(ngModel)]="todo.done">
      <span (click)="toggle(todo)"  [class.done]="todo.done">
        {{todo.name}} :
      </span>
      <button (click)="minus(todo)">-</button>
        {{todo.qty}}
      <button (click)="plus(todo)">+</button>
      <button (click)="delete(todo)">X</button>
    </li>
  </ul>
</div>
